<h1>Edit question:</h1>

<%= form_for [@ask, @question] do |f| %>
  <%= f.label :text %>
  <%= f.text_field :text %>
  <%= f.label :answer_1 %>
  <%= f.text_area :answer_1 %>
  <%= f.label :answer_2 %>
  <%= f.text_area :answer_2 %>
  <%= f.label :answer_3 %>
  <%= f.text_area :answer_3 %>
  <%= f.label :answer_4 %>
  <%= f.text_area :answer_4 %>
  <p><%= f.submit %></p>
<% end %>
