<h1>Question: <%= @question.text %></h1>
<h2>Ask: <%= @ask.topic %></h2>
<h3><%= @question.answer_1 %></h3>
<h3><%= @question.answer_2 %></h3>
<h3><%= @question.answer_3 %></h3>
<h3><%= @question.answer_4 %></h3>

<p><%= link_to "Edit question", edit_ask_question_path(@ask, @question) %></p>
<p><%= link_to "Delete question", ask_question_path(@ask, @question),
                        :data => {:confirm => "Are you sure?",
                                       :method => "delete"} %></p>

<p><%= link_to "Return to ask", ask_path(@ask) %></p>
